<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<h3>ePay Payment Form</h3>

<form th:action="@{${epayUrl}}" method="post">
    <input type="hidden" name="PAGE" value="paylogin">
    <input type="hidden" name="ENCODED" th:value="${encoded}">
    <input type="hidden" name="CHECKSUM" th:value="${checksum}">
    <input type=hidden name=URL_OK th:value="${#httpServletRequest.scheme}+'://'+${#httpServletRequest.serverName}+':'+${#httpServletRequest.serverPort}+@{/payment-success}">
    <input type=hidden name=URL_CANCEL th:value="${#httpServletRequest.scheme}+'://'+${#httpServletRequest.serverName}+':'+${#httpServletRequest.serverPort}+@{/payment-cancel}">
    <input type=submit>
</form>

</body>
</html>